.cardapio h2 {
    font-size: 25px;
    font-family: Poppins;
    font-weight: bold;
    color: #618F22;
    margin: 3.2px 0 16px;
} 

.cardapio li { 
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0.50%;
    box-sizing: border-box;
    border: 1px solid #EDC8B8; /* forma simplificada border border-style e border color */
    border-radius: 10px;
}

.cardapio img {
    width: 150px;
    height: 100px;    
}

.preco {
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    color: #F6BF47; 
    text-align: left;
    padding: 6px;
}

footer {
    margin-top: -11px;
}

