.apresentacao {
    font-family: Roboto;
    font-style: italic;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: #618F22; 
}

.destaque {
    width: 690px;
    padding: 70px 0;
    text-align: center;
    height: 370px;
}

.destaque li { 
    display: inline-block;
    width: 30%;
    vertical-align: top;
    cursor: pointer;
    border: 2px solid #EDC8B8;
    border-radius: 10px;
}
 
.destaque img {
    width: 180px;
    height: 133px;

}

.destaque h2 a {
    font-size: 30px;
    text-decoration: none;
    font-family: Roboto;
    font-weight: bold;
    color: #618F22;
    padding: 10 0px;
    transition: 1s all
}  

.destaque:hover h2 a {
    font-size: 32px;
    transition: ease-in-out 0.5s;
}

.descricao {
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    color: #618F22; 
    padding: 15px 15px 0 0;
}

.cadastro {
    border: 2px solid #EDC8B8; 
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 10px 8px 8px -8px;
    margin-top: 59px;

}

.cadastro p{
    font-size: 26px;
    color: #618F22;
    font-family: 'poppins';
    font-weight: bolder;
    text-align: center;
    padding: 20px 0;
}

form {
    display: table-row;
    font-family: 'Poppins';  
    font-weight: bold; 
    color: #F6BF47; 
}


form label {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0; 
}

form input {
    background: linear-gradient(rgba(226, 218, 210, 0.5), rgba(238, 227, 222, 0.4));
    width: 630px;
    height: 30px;
    margin-top: 1rem;
    color: #F6BF47;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    margin: 5px 0; 
}

#button {
    width: 180px;
    height: 30px;
    margin: 10px;
    transition: 1s all;
    transition: ease-in-out 0.5s
}    

input::placeholder {
    color: #618F22;
    font-family: Roboto;
    text-align: center;
    font-size: 15px;
    font-weight: initial;
  }
form input[type="submit"]:hover {
    background: #618F22;
}

footer {
        margin-top: -13px;
    }
    


